*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar{
    background-color: #4D455D;
    padding: 0!important;
}
.navbar-nav li {
    padding: 0, 10px;
}
.navbar-nav li a{
    font-family: 'Montserrat', sans-serif;
    color: #F5E9CF!important;
    font-weight: 600;
}
.navbar-brand img{
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.fa-bars{
    color: #fff;
    font-size: 30px!important;
}


#banner{
    background-color: #4D455D;
    padding: 20px, 5px, 20px, 5px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}
.img-fluid{
    padding-top: 20px;
    width: 1000px;
    height: 1000px;
}
.banner-text h1{
    font-family: 'Montserrat', sans-serif;
    padding: 10px 10px;
    font-weight: 600;
    margin-top: 100px;
}
.banner-text p{
    padding: 10px;
    word-spacing: 5px;
}

.bottom-img{
    padding-top: 20px;
    width: 100%;
    margin: 0;
}

#menu{
    padding: 80px 0;
}
.title{
    font-family: 'Montserrat', sans-serif;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}
.menu1{
    font-family: 'Montserrat', sans-serif;
}
.menu1 h4{
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;
}
.food-img{
    width: 100%;
    height: auto;
    margin-top: 200px;
    margin-bottom: 20px;
    padding: 10px 0;
}
#review{
    padding: 100px 0;
}
.rating{
    margin-top: 20px;
    padding: 25px auto;
}
.rating img{

    padding-top: 20px;
    padding-bottom: 20px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.rating h4{
    padding-top: 20px;
}
.rating p{

    margin: auto;
    width: 200px;
    padding-top: 10px;
}
.slide h5{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
#contact{
    background-color: #4D455D;
}
.base-title{
    font-family: 'Montserrat', sans-serif;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}
.contact-us{
    padding-bottom: 10px;
}
.contact-us p{
    color: #F5E9CF!important;
}